<div>
  {{#each events}}
  <ul data-eventid="{{id}}">
    Name: <input type="text" class="eventNameInput" value="{{name}}" data-eventid="{{id}}">
      Survey ID: <input type="text" class="surveyIdInput" value="{{survey_id}}" data-eventid="{{id}}"> <a href="#{{id}}">Edit</a> <button class="deleteButton" data-eventid="{{id}}">Delete</button> 
  </ul>
  {{/each}}
  <hr>
  <div>
    Name: <input type="text" id="newEventName"> <button id="newEventButton">Create New Event</button>
  </div>
</div>